<% @header = 'Работы' %>
<div class="page_body">
  <%= render :partial => 'filter', :locals => {:filter_url => works_path, :status_id => @status_id} %>
  <%= render :partial => 'manage_works', :locals => {:works => @works} %>
</div>
