<% @header = 'Редактирование группы' %>
<div class="page_body">
  <% form_for(@group) do |f| %>
    <%= f.error_messages %>
  <%= render :partial => f %>
  <%= render :partial => '/common/update_or_cancel' %>
  <% end %>
</div>

