<p>
<%= label_tag 'impact' %><br/>
<%= text_area_tag 'ticket[impact]', nil, :id => 'impact', :size => '80x5' %>
</p>

<p>
<%= label_tag 'rollback_process' %><br/>
<%= text_area_tag 'ticket[rollback_process]', nil, :id => 'rollback_process', :size => '80x5' %>
</p>
