<% @header = "Ticket##{ @ticket.id }" %>
<div class="page_body">
  <%= render :partial => @ticket %>
  <%= render :partial => 'action' %>
  <% unless @ticket.changes.empty? %>
    <div class="changes">
      <h2>Changes &amp; comments</h2>
      <%= render :partial => 'change', :collection => @ticket.changes %>
    </div>
  <% end %>
</div>
